<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Traf-VisuAnalysis</title>
  <link
    rel="icon"
    href="{{url_for('static', filename='favicon.ico')}}"
    type="image/x-icon"
  />
</head>

<style>
  body {
    font-family: serif;
  }
  /* 提示框 */
  .tooltip {
    position: absolute;
    padding: 7px;
    font-size: 0.7em;
    pointer-events: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;

    /* 添加阴影效果 */
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  }

  .tooltip p {
    margin: 0;
    padding: 0;
  }

  .tooltip table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }
  .wide {
    width: 140px;
  }
</style>

<body>
  <!-- 主画布 -->
  <svg
    width="1920"
    height="1280"
    id="mainsvg"
    class="svgs"
    style="background-color: #ffffff; display: block; margin: 0 auto"
  ></svg>
  <!-- 加载d3.v6 -->
  <script src="https://d3js.org/d3.v6.js"></script>
  <!-- topojson用于地图绘制，是一种对地理拓扑进行编码的方式 -->
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <script src="{{url_for('static', filename='js/mainfig.js')}}"></script>
  <script src="{{url_for('static', filename='js/volfig.js')}}"></script>
  <script src="{{url_for('static', filename='js/heatmap.js')}}"></script>
  <script src="{{url_for('static', filename='js/jam_analysis.js')}}"></script>
  <script src="{{url_for('static', filename='js/clusterfig.js')}}"></script>
  <script src="{{url_for('static', filename='js/queue_analysis.js')}}"></script>
  <script>
    const MARGIN = { top: 20, right: 200, left: 200, bottom: 200 };
    const WIDTH = 1920,
      HEIGHT = 1280;

    const TYPE2COLOR = {
      1: "#FA8828",
      2: "#419BB0",
      3: "#9FC131",
      4: "#a65628",
      6: "#984ea3",
      10: "#fe8de5",
    };

    const TYPE = {
      1: "小型车辆",
      2: "行人",
      3: "非机动车",
      4: "卡车",
      6: "客车",
      10: "手推车、三轮车",
    };

    const crossinglines = {
      1: [71, 93, 94],
      2: [95, 96, 97, 98],
      3: [99, 100, 101],
      4: [102, 103, 104],
      5: [87, 88, 89, 90],
      6: [173, 174, 175, 176],
      7: [121, 122, 123, 124],
      8: [135, 136, 137, 138],
    };

    // 个人ID视图
    const SIZE_ID = {
      width: (WIDTH - MARGIN.left - MARGIN.right) / 4,
      height: (HEIGHT - MARGIN.top - MARGIN.bottom) / 4,
    };
    const POS_ID = { x: MARGIN.left, y: MARGIN.top };
    // const idfig = new IdFig(POS_ID, SIZE_ID);

    // 车流量视图
    const SIZE_VOL = {
      width: (WIDTH - MARGIN.left - MARGIN.right) / 2,
      height: (HEIGHT - MARGIN.top - MARGIN.bottom) / 5,
    };
    const POS_VOL = { x: POS_ID.x + MARGIN.left, y: MARGIN.top };
    const volfig = new VolumeFig(POS_VOL, SIZE_VOL);

    // 主视图
    const SIZE_MAIN = {
      width: (WIDTH - MARGIN.left - MARGIN.right) / 2,
      height: (HEIGHT - MARGIN.top - MARGIN.bottom) / 2,
    };
    const POS_MAIN = {
      x: POS_ID.x + MARGIN.left,
      y: MARGIN.top + SIZE_VOL.height,
    };
    const mainfig = new MainFig(POS_MAIN, SIZE_MAIN);

    // heatmap
    const SIZE_HEAT = {
      width: (WIDTH - MARGIN.left - MARGIN.right) / 4,
      height: (HEIGHT - MARGIN.top - MARGIN.bottom) / 4,
    };
    const POS_HEAT = {
      x: POS_MAIN.x + SIZE_MAIN.width,
      y: POS_MAIN.y + SIZE_HEAT.height,
    };
    const heatfig = new HeatFig(POS_HEAT, SIZE_HEAT);

    // jam_analysis
    const SIZE_JAM = {
      width: (WIDTH - MARGIN.left - MARGIN.right) / 4,
      height: (HEIGHT - MARGIN.top - MARGIN.bottom) / 4,
    };
    const POS_JAM = {
      x: POS_MAIN.x + SIZE_MAIN.width,
      y: POS_MAIN.y,
    };
    const jamfig = new JamFig(POS_JAM, SIZE_JAM);

    // queue_analysis
    const SIZE_QUEUE = {
      width: (WIDTH - MARGIN.left - MARGIN.right) / 4,
      height: (HEIGHT - MARGIN.top - MARGIN.bottom) / 5,
    };
    const POS_QUEUE = { x: POS_JAM.x, y: MARGIN.top };
    const queuefig = new QueueFig(POS_QUEUE, SIZE_QUEUE);

    // 聚类结果
    const SIZE_CLUSTER = {
      width: SIZE_MAIN.width + SIZE_JAM.width,
      height: (HEIGHT - MARGIN.top - MARGIN.bottom) / 4,
    };
    const POS_CLUSTER = {
      x: POS_MAIN.x,
      y: POS_MAIN.y + SIZE_MAIN.height,
    };
    const clusterfig = new ClusterFig(POS_CLUSTER, SIZE_CLUSTER);

    // Total svg.
    const svg = d3.select("#mainsvg");

    // Tooltips.
    const tooltip = d3
      .select("body")
      .append("div")
      .attr("id", "mainfig-tooltip")
      .attr("class", "tooltip")
      .style("opacity", 0);

    fetch("http://127.0.0.1:5100/get_volume_data")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        volfig.show(data.types, data.data);
      });
    fetch("http://127.0.0.1:5100/get_jamfig_data")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        jamfig.show(data);
        queuefig.show(data);
      });

    Promise.all([
      fetch("http://127.0.0.1:5100/get_init_map_data").then((response) =>
        response.json()
      ),
      fetch("http://127.0.0.1:5100/get_heatmap_data_by_ts?init=True").then(
        (response) => response.json()
      ),
    ]).then((data) => {
      map_data = data[0]["map_data"];
      cache_data = data[0]["cache_data"];
      heatmap_data = data[1];
      mainfig.show(cache_data, map_data);
      heatfig.show(heatmap_data, map_data);
    });

    fetch("http://127.0.0.1:5100/get_cluster_data")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        // rawAllData = data[0];
        // allData = [];
        // [1, 3].forEach(function (type, idx) {
        //   [0, 1, 2].forEach(function (cluster, idx) {
        //     _typeClusterData = rawAllData.filter(function (d) {
        //    return d.type === type && d.Cluster === cluster;
        //    });
        //    allData = [...allData, ..._typeClusterData.slice(0, 100)];
        //    console.log(type, cluster, _typeClusterData.length);
        //  });
        //});
        // groupedData = data[1].filter((d) => d.type === 1 || d.type === 3);
        allData = data[0];
        groupedData = data[1];
        clusterfig.show(allData, groupedData);
      });
  </script>
</body>
